*{
	/*border: 1px solid rgba(0,0,0,0.9);*/
	 box-sizing:border-box;
}
body, html{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Sedgwick Ave Display', sans-serif;
    background-color: #001f3f;
    color: rgb(133, 185, 239);
    /*color: #70d7ff;*/
	height: 100%;
	font-size:18px;
}
article{
	padding: 0;
	margin: 0;
	width: 100%;
	height: auto;
}
.clearfix:after {
   content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.info{
	/*display: flex;
	flex-direction: column;*/
	text-align: center;
	font-family: "AR BLANCA", Courier, sans-serif;
	color: #ECECC6;
	height: 100vh;
}
.info div{
	padding: 10px;
}
.info .first{
height: auto;
}
.name{
	font-size: 7em;
	margin-top: 130px;
}
.what{
	font-size: 2.75em;
	margin: 30px auto 30px auto;
}
.btn a{
	width: 150px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #fff;
	font-size:1.50em;
	/*background-color: red;*/	
}
a{
	text-decoration: none;
	color: #ccc;
}
a:hover{
	color: #dddc00;
}
.btn a:hover{
	color: #111;
	border-color: #111;
}
/* nav start */
nav{
	position: fixed;
	width: 100%;
	height: 10vh;
	background-color: hsl(208, 90%, 30%);
	padding: 2px;
	margin: 0;
	top: 0;
	transition:all 0.5s ease;
}
nav.hidden{
	transform: translate3d(0,-100%,0);
}
ul{
	/*background-color: #ccc;*/
	list-style-type: none;
	text-align: right;
	font-size: 2em;
	margin: 0;
	padding: 0;
	height: 100%;
    font-size: 2.5em;
}
li{
	display: inline-block;
	padding: 1px 20px;
	font-family: 'Lobster', sans-serif;
	font-size: 100%;
}
li:first-child{
	float: left;
	text-shadow: 0 2px #000000;
}
/* nav end */
/*parallax start*/
section{
	padding: 0;
	margin: 0;	
}
.parallax{
	padding: 0;
	margin: 0;
	border: 0;
	height: 65%;
}
.parallax-1{
	background: url("../img/about_me.jpg")fixed 100%;
	background-repeat: center;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
.parallax-2{
	background: url("../img/thesis.jpg")fixed 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-3{
	background: url("../img/mate.jpg")fixed 100%;
}
h2{
	margin: 0;
	padding-top:50px;
	font-size: 9em;
	text-align: center;
	font-family: 'Indie Flower', sans-serif;
	text-transform: uppercase;
	color: hsl(60, 50%, 85%);
}
/*parallax end*/
/*about start*/
.container-1{
    margin: 20px 0px;
}
.pic{
	width: 30%;
	height: 25em;
	margin: auto 10px;
	float: left;
}

.group p{
	font-size: 1.40em;
    padding: 0;
    font-family: 'Sedgwick Ave Display', sans-serif;
    margin-left: 31%;
    margin-right: 10px;
}
.group i:hover , .proj-section i:hover{
	color: #fff;
}
.pic img{
	height: 100%;
	width: 100%;
	border-radius: 30%;
	z-index: -2;
}
hr{
	width: 50%;
}
/*about end*/

/* projects start*/
.cont-proj{
	margin: 40px 0px;
}
.container-2{
	width: 100%;
	font-size: 1.075em;
}
.project{
	border: 3px solid #dddc00;
	padding: 0 10px;
	margin: 0 10px;
}
.project h3{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	border-bottom: 1px solid whitesmoke;
	font-size: 1.25em;
}
.project h5{
	text-align: center;
	padding: 0;
	margin: 0 10px;
	font-size: 20px;
}
.proj-1 , .proj-2, .proj-3 , .proj-4{
	width: 23%;
	float: left;
}
.proj-section p{
	font-size: 1em;
}
.proj img{
	height: 100%;
	width: 100%;
}
.foot{
	padding: 20px;
	border-top: 3px solid rgba(9,9,9,0.6);
}
.foot h3{
	padding: 0;
	margin: 5px;
}
/* projects end*/

/*contact start*/
.container{
	font-family: 'Sedgwick Ave Display', sans-serif;
}
.contact{
	height: auto;
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 1.85em;
}
.cont{
	width: 100%;
	height: auto;
	text-align: center;
	/*background-color: green;*/
}
.contact-me , .follow-me{
	width: 50%;
	float: left;
}
.title-1 h4{
	font-family: "AR BLANCA", Courier, sans-serif;
	color: rgb(65, 131, 215);
	margin: 40px auto;
	width: 80%;
    background-color: #eee;
    border: 3px dashed black;
    border-radius: 50%;
}
.contact-me{
	/*width: 40%;
	height: 80vh;
	margin-left: 40px;
	margin-top: 0.75em;
	background-color: orange;
	border-right: 20px dotted red;*/
}
.inside-1{
	width: 90%;
    margin: 0 auto;
}
.title-1{
	width: 100%;
	height: 20%;
	text-align: center;
	font-size: 2.25em;
	/*background-color: chocolate;*/
}
.fa-facebook:hover{
	color: #3b5998;
}
.fa-twitter:hover{
	color:#1DA1F2;
}
.fa-instagram:hover{
	color:#262626;
}
i{
	color: #ECECC6;
}

/*contact end*/

/* footer start*/
footer{
	text-align: center;
    /* position: relative; */
    /* top: 20px; */
    padding: 15px 0;
    font-size: 2em;
    color: #ECECC6;
    background-color: gray;
}

.menu li , .mob-nav{
	display: none;
}
/*.menu li , .mob-nav{display: block;}*/
/* footer end*/
@media only screen and (max-width:320px){
	body{font-size: 6px;}
	/*nav bar*/
	nav{display: none;}
	.menu{display:block;width: 100%;height: 30px;background-color: rgba(211, 212, 233, 0.46);}
	.mob-nav{display:block;height: 30px;width: 30px;float: right;margin-right: 10px;}
	.menu-nav{width: 100%;height: auto;}

	li:first-child{float: none;}
	li{display: block;list-style: none;text-align: right; font-size: 1.25em;border-top: 1px solid rgb(65, 131, 215);}
	/*jerry's section*/
	.name{margin-top: 40px;font-size: 6em;}
	.btn{font-size: 2em;}
	.btn a{font-size: .75em;}
	.what{font-size: 3em;}
	/*parallax*/
	h2{padding-top: 50px;font-size: 6em;}
	.parallax{height: 40%;}
	.parallax-1 , .parallax-3{background-repeat: round;background-position: left;}
	/*about-me*/
	.container-1{font-size: 1.075em;margin: 20px;}
	.group{font-size: .85em;width: 100%;display: block;}
	.pic{width: 100px;height: 150px;margin: 5px auto;float: none;}
	.group p{width: 100%;margin: 10px;font-size: 2em;}
	/*.group{font-size: 1.25em;}
	.pic{height: 400px;width: 250px;margin-top: 100px;margin-right: 10px;}
	.group .down{width: 265px;height: 340px;margin: 20px 0 0 0;}*/
	
	/*projects
	.container-2{width: 85%;margin: 0 7%;}
	.project{background-color: green;display: inline-block;width: 35%;padding: 0 10px;border: 5px solid #000;margin: 0 20px;}*/
	.container-2{margin: 0 auto;}
	.cont-project{margin: 0 10px;}
	.project{width: 90%;display: block;margin: 10px 15px;}	
	.proj-section p {font-size: 2em;}
	.project h3{font-size: 1.75em}

	/*contacts*/
	.cont{display: inline-block;text-align: center;height: 100%;width: 100%;font-size: 1.7em;}
	.contact-me{width: 100%;font-size: 1.5em;margin: 0 auto;}
	.title-1{margin: 0 auto; font-size: 2.25em;}
	.inside-1{width: 100%;margin: 0px;float: none;}
	.follow-me{margin: 0 auto;}

	/*footer*/
	footer{font-size: 2.5em;margin-top: 0px;}
}

@media only screen and (max-width:480px) and (min-width: 321px){
	body{font-size: 12px;}
	/*nav bar*/
	nav{display: none;}
	.menu{display:block;width: 100%;height: 50px;background-color: rgba(211, 212, 233, 0.46);}
	.mob-nav{display:block;height: 50px;width: 50px;float: right;margin-right: 10px;}
	.menu-nav{width: 100%;height: auto;}
	li:first-child{float: none;}
	li{display: block;list-style: none;text-align: right; font-size: 1.25em;border-top: 1px solid rgb(65, 131, 215);}
	/*jerry's section*/
	.name{margin-top: 100px;font-size: 6em;}
	.btn{font-size: 2em;}
	.btn a{font-size: .75em;}
	.what{font-size: 3em;}
	/*parallax*/
	h2{padding-top: 50px;font-size: 6em;}
	.parallax{height: 40%;}
	.parallax-1 , .parallax-3{background-repeat: round;background-position: left;}
	/*about-me*/
	.container-1{font-size: 1.075em;margin: 20px;}
	.group{font-size: .85em;width: 100%;display: block;}
	.pic{width: 200px;height: 250px;margin: 5px auto;float: none;}
	.group p{width: 100%;margin: 10px;font-size: 2em;}
	/*.group{font-size: 1.25em;}
	.pic{height: 400px;width: 250px;margin-top: 100px;margin-right: 10px;}
	.group .down{width: 265px;height: 340px;margin: 20px 0 0 0;}*/
	
	/*projects
	.container-2{width: 85%;margin: 0 7%;}
	.project{background-color: green;display: inline-block;width: 35%;padding: 0 10px;border: 5px solid #000;margin: 0 20px;}*/
	.container-2{margin: 0 auto;}
	.cont-project{margin: 0 10px;}
	.project{width: 90%;display: block;margin: 10px 20px;}	
	.proj-section p {font-size: 1.25em;}
	.project h3{font-size: 1.75em}

	/*contacts*/
	.cont{display: inline-block;text-align: center;height: 100%;width: 100%;font-size: 1.7em;}
	.contact-me{width: 100%;font-size: 1.5em;margin: 0 auto;}
	.title-1{margin: 0 auto; font-size: 2.25em;}
	.inside-1{width: 100%;margin: 0px;float: none;}
	.follow-me{margin: 0 auto;}

	/*footer*/
	footer{font-size: 2.5em;margin-top: 0px;}
}

@media only screen and (max-width:768px) and (min-width: 481px){
	body{font-size: 12px;}
	/*nav bar*/
	nav{display: none;}

	.menu{display:block;width: 100%;height: 50px;background-color: rgba(211, 212, 233, 0.46);}
	.mob-nav{display:block;height: 50px;width: 50px;float: right;margin-right: 10px;}
	.menu-nav{width: 100%;height: auto;}

	li:first-child{float: none;}
	li{display: block;list-style: none;text-align: right;font-size: 1.5em;border-top: 1px solid rgb(65, 131, 215);}
	/*jerry's section*/
	.name{margin-top: 200px;font-size: 9em;}
	.btn{font-size: 3em;}
	.btn a{font-size: .75em;}
	.what{font-size: 4em;}
	/*parallax*/
	h2{padding-top: 100px;font-size: 8em;}
	.parallax-1{background-repeat:round;background-position: left;}
	.parallax{height: 50%;}
	/*about-me*/
	.container-1{font-size: 1.075em;margin: 20px;}
	.group{font-size: .85em;width: 100%;display: block;}
	.pic{width: 300px;height: 250px;margin: 5px auto;float: none;}
	.group p{width: 100%;margin: 10px;font-size: 2em;}
	/*.group{font-size: 1.25em;}
	.pic{height: 400px;width: 250px;margin-top: 100px;margin-right: 10px;}
	.group .down{width: 265px;height: 340px;margin: 20px 0 0 0;}*/
	
	/*projects
	.container-2{width: 85%;margin: 0 7%;}
	.project{background-color: green;display: inline-block;width: 35%;padding: 0 10px;border: 5px solid #000;margin: 0 20px;}*/
	.container-2{display: inline-block;}
	.cont-project{margin: 0 10px;}
	.project{border: 3px solid black;padding: 0 10px;margin:5px 20px;width: 40%;display: inline-block;}	
	.proj-section p {font-size: 1.55em;}
	.project h3{font-size: 1.75em}

	/*contacts*/
	.cont{display: inline-block;text-align: center;height: 100%;width: 100%;font-size: 1.7em;}
	.contact-me{width: 100%;font-size: 1.5em;margin: 0 auto;}
	.title-1{margin: 0 auto; font-size: 2.25em;}
	.inside-1{width: 100%;margin: 0px;float: none;}
	.follow-me{margin: 0 auto;}

	/*footer*/
	footer{font-size: 2.5em;margin-top: 0px;}
}

@media only screen and (max-width:1024px) and (min-width: 769px){
	body{font-size: 12px;}

	/*nav bar*/
	ul{font-size: 3em;}
	li{padding: 0 10px;}

	/*jerry's section*/
	.name{font-size: 9.5em;margin-top: 100px;}
	.btn{font-size:2em;}
	.what{font-size: 3.75em;}
	.info1{padding-bottom: 0px;}

	/*parallax*/
	h2{padding-top: 100px;font-size: 12em;}
	.parallax-1{background-repeat: round;background-position: left;}

	/*about-me*/
	.container-1{margin: 20px;}
	.group{margin: auto; font-size: 1.25em}
	.pic{margin: 50px 10px;}
	.group .down{position: relative;top: 35px;width: 100%;left: -150px;}

	/*projects*/
	.container-2{display: inline-block;}
	.cont-project{margin: 0 10px;}
	.project{border: 3px solid black;padding: 0 30px;margin-left: 80px;width: 35%;display: inline-block;}	
	.proj-section p {font-size: 1.25em;}
	.project h3{font-size: 1.75em}
	
	/*contacts*/
	.cont{margin:0 20px;}
	/*.contact-me{width: 100%;font-size: 1.7em;margin: 0 auto;}
	.title-1{width:60%; margin: 0 auto; font-size: 2.25em;}*/
	.inside-1{float: left; font-size: 1.3em;margin:0;width:100%;}
	.contact-me, .follow-me {width: 45%;}
	/*.inside-1 p{margin: 0;}
	.follow-me{margin: 0 auto;}*/

	/*footer*/
	footer{font-size: 3.5em;margin-top: 20px;}
}


@media only screen and (max-width:1900px) and (min-width: 1600px){
	body{font-size: 14px;}

	/*nav bar*/
	ul{font-size: 4em;}
	li{padding: 0 10px;}

	/*jerry's section*/
	.info .firs{height: auto;margin: 0 auto;}
	.name{font-size: 10em;margin-top: 200px;}
	.btn{font-size:2em;}
	.what{font-size: 4.25em;}
	.info1{padding-bottom: 0px;}

	/*parallax*/
	h2{padding-top: 100px;font-size: 13em;}
	

	/*about-me*/
	.container-1{margin: 20px;}
	.group{margin: auto; font-size: 1.5em}
	.pic{margin: 40px 10px;width: 400px;height: 500px;}

	/*projects*/
	.proj-section p {font-size: 1.5em;}
	.project h3{font-size: 1.75em}
	
	/*contacts*/
	.cont{margin:0 20px;}
	/*.contact-me{width: 100%;font-size: 1.7em;margin: 0 auto;}
	.title-1{width:60%; margin: 0 auto; font-size: 2.25em;}*/
	.inside-1{float: left; font-size: 1.3em;margin:0;width:100%;}
	.contact-me, .follow-me {width: 45%;}
	/*.inside-1 p{margin: 0;}
	.follow-me{margin: 0 auto;}*/

	/*footer*/
	footer{font-size: 3.5em;margin-top: 20px;}
}

@media only screen and (min-width:1901px){
	body{font-size: 16px;}

	/*nav bar*/
	ul{font-size: 4em;}
	li{padding: 0 10px;}

	/*jerry's section*/
	.info .firs{height: auto;margin: 0 auto;}
	.name{font-size: 10em;margin-top: 200px;}
	.btn{font-size:2em;}
	.what{font-size: 4.25em;}
	.info1{padding-bottom: 0px;}

	/*parallax*/
	h2{padding-top: 100px;font-size: 13em;}
	

	/*about-me*/
	.container-1{margin: 20px;}
	.group{margin: auto; font-size: 1.5em}
	.pic{margin: 40px 10px;width: 400px;height: 500px;}

	/*projects*/
	.proj-section p {font-size: 1.5em;}
	.project h3{font-size: 1.75em}
	
	/*contacts*/
	.cont{margin:0 20px;}
	/*.contact-me{width: 100%;font-size: 1.7em;margin: 0 auto;}
	.title-1{width:60%; margin: 0 auto; font-size: 2.25em;}*/
	.inside-1{float: left; font-size: 1.3em;margin:0;width:100%;}
	.contact-me, .follow-me {width: 45%;}
	/*.inside-1 p{margin: 0;}
	.follow-me{margin: 0 auto;}*/

	/*footer*/
	footer{font-size: 3.5em;margin-top: 20px;}
}

