*{
	/*border: 1px solid rgba(0,0,0,0.9);*/
	 box-sizing:border-box;
}
body, html{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Sedgwick Ave Display', sans-serif;
    /*background-color: #001f3f;*/
    background:radial-gradient(#001f3f,#001f12);
    color: rgb(133, 185, 239);
    /*color: #70d7ff;*/
	height: 100%;
	font-size:18px;
}
article{
	padding: 0;
	margin: 0;
	width: 100%;
	height: auto;
}
.clearfix:after {
   content: " "; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.info{
	/*display: flex;
	flex-direction: column;*/
	background: url(../img/background.jpg)no-repeat center;
    background-size: cover;
	text-align: center;
	font-family: 'Acme', sans-serif;
	color: rgb(16, 177, 241);
	height: 100vh;
}

.first{
	position: relative;
	top: 130px;
	padding: 0;
	width: 70%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.57);
	height: auto;
	border: 3px solid;
	border-radius: 20px;
	padding: 40px 0;
}
.name{
	font-size: 6.5em;
	font-family: 'Acme', sans-serif;
}
.what{
	font-size: 2.75em;
	margin: 30px auto 30px auto;
}
.btn a{
	width: 150px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #fff;
	font-size:1.50em;
	color: #000;
	/*background-color: red;*/	
}
a{
	text-decoration: none;
	color: #ccc;
}
a:hover{
	color: rgb(50, 183, 236);
}
.btn a:hover{
	color: rgb(50, 183, 236);
	border-color: rgb(50, 183, 236);
}
/* nav start */
nav{
	position: fixed;
	width: 100%;
	height: 10vh;
	background-color: hsl(208, 90%, 30%);
	padding: 2px;
	margin: 0;
	top: 0;
	transition:all 0.5s ease;
}
nav.hidden{
	transform: translate3d(0,-100%,0);
}
ul{
	/*background-color: #ccc;*/
	list-style-type: none;
	text-align: right;
	font-size: 2.5em;
	margin: 0;
	padding: 0;
	height: 100%;
}
li{
	display: inline-block;
	padding: 1px 20px;
	font-family: 'Lobster', sans-serif;
	font-size: 100%;
}
li:first-child{
	float: left;
	text-shadow: 0 2px #000000;
}
/* nav end */
/*parallax start*/
section{
	padding: 0;
	margin: 0;	
}
.parallax{
	padding: 0;
	margin: 0;
	border: 0;
	height: 65%;
}
.parallax-1{
	background: url("../img/about_me.jpg")fixed 100%;
	background-repeat: center;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
.parallax-2{
	background: url("../img/thesis.jpg")fixed 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-3{
	background: url("../img/mate.jpg")fixed 100%;
}
h2{
	margin: 0;
	padding-top:200px;
	font-size: 11em;
	text-align: center;
	font-family: 'Acme', sans-serif;
	text-transform: uppercase;
	color: hsl(60, 50%, 85%);
}
/*parallax end*/
/*about start*/
.container-1{
    margin: 20px 0px;
}
.pic{
	width: 30%;
	height: 25em;
	margin: auto 10px;
	float: left;
}

.group p{
	font-size: 1.40em;
    padding: 0;
    font-family: 'Sedgwick Ave Display', sans-serif;
    margin-left: 31%;
    margin-right: 10px;
}
.group i:hover , .proj-section i:hover{
	color: rgb(50, 183, 236);
}
.pic img{
	height: 100%;
	width: 100%;
	border-radius: 30%;
	z-index: -2;
}
hr{
	width: 50%;
}
/*about end*/

/*go to top start*/
.go-top img{
	width: 80px;
	height: 50px;
	position: fixed;
	bottom: 50px;
	right: 10px;
	display: none;
}
/*go to top end*/

/* projects start*/
.cont-proj{
	margin: 40px 0px;
}
.container-2{
	width: 100%;
	font-size: 1.075em;
}
.project{
	border: 3px solid #dddc00;
	padding: 0 10px;
	margin: 0 10px;
}
.project h3{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	border-bottom: 1px solid whitesmoke;
	font-size: 1.25em;
}
.project h5{
	text-align: center;
	padding: 0;
	margin: 0 10px;
	font-size: 20px;
}
.proj-1 , .proj-2, .proj-3 , .proj-4{
	width: 23%;
	float: left;
}
.proj-section p{
	font-size: 1em;
}
.proj img{
	height: 100%;
	width: 100%;
}
.foot{
	padding: 20px;
	border-top: 3px solid rgba(9,9,9,0.6);
}
.foot h3{
	padding: 0;
	margin: 5px;
}
/* projects end*/

/*contact start*/
/*.container{
	font-family: 'Sedgwick Ave Display', sans-serif;
}
.contact{
	height: auto;
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 1.85em;
}
.cont{
	width: 100%;
	height: auto;
	text-align: center;
	/*background-color: green;
}
.contact-me , .follow-me{
	width: 50%;
	float: left;
}
.title-1 h4{
	font-family: "AR BLANCA", Courier, sans-serif;
	color: rgb(65, 131, 215);
	margin: 40px auto;
	width: 80%;
    background-color: #eee;
    border: 3px dashed black;
    border-radius: 50%;
}
.contact-me{
	/*width: 40%;
	height: 80vh;
	margin-left: 40px;
	margin-top: 0.75em;
	background-color: orange;
	border-right: 20px dotted red;
}
.inside-1{
	width: 90%;
    margin: 0 auto;
}
.inside-1 p:nth-child(1) , p:nth-child(2){
	display: inline;
	margin-left: 50px;
}
.title-1{
	width: 100%;
	height: 20%;
	text-align: center;
	font-size: 2.25em;
	/*background-color: chocolate;
}*/
.row-1{
	text-align: center;
	width: 33%;
	height: auto;
	float: left;
}
.col-1{
	width: 67%;
}
p{
	font-size: 2em;
}
.side{
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 15%;
}
span{
	width: 100%;
}
span img{
	width: 30%;
	margin: 0 auto;
}
#map {
	height: 400px;
	width: 100%;
}
.row-2{
	width: 50%;
	float: left;
}
.row-foot{
	text-align: center;
	font-size: 0.80em;
	width: 100%;
	margin: 50px auto 0 auto;
}
i{
	color: #ECECC6;
}

/*contact end*/

/* footer start*/
footer{
	text-align: center;
    /* position: relative; */
    /* top: 20px; */
    padding: 15px 0;
    font-size: 2em;
    color: #ECECC6;
    background-color: gray;
}

.menu li , .mob-nav{
	display: none;
}
/*.menu li , .mob-nav{display: block;}*/
/* footer end*/

/*4" iphone*/
@media only screen and (max-width:320px){
	body{font-size: 6px;}
	/*nav bar*/
	nav{display: none;}
	.menu{display:block;width: 100%;height: 30px;background-color: rgba(211, 212, 233, 0.46);}
	.mob-nav{display:block;height: 30px;width: 30px;float: right;margin-right: 10px;}
	.menu-nav{width: 100%;height: auto;}
	li:first-child{float: none;}
	li{display: block;list-style: none;text-align: right; font-size: 1.25em;border-top: 1px solid rgb(65, 131, 215);}
	/*jerry's section*/
	.name{margin-top: 40px;font-size: 6em;}
	.btn{font-size: 2em;padding-bottom: 50px;}
	.btn a{font-size: .75em;}
	.what{font-size: 3em;}
	.first{top:80px;}
	/*parallax*/
	h2{padding-top: 50px;font-size: 6em;}
	.parallax{height: 40%;}
	.parallax-1 , .parallax-3{background-repeat: round;background-position: left;}
	/*about-me*/
	.container-1{font-size: 1.075em;margin: 20px;}
	.group{font-size: .85em;width: 100%;display: block;}
	.pic{width: 100px;height: 150px;margin: 5px auto;float: none;}
	.group p{width: 100%;margin: 10px;font-size: 2em;}
	/*.group{font-size: 1.25em;}
	.pic{height: 400px;width: 250px;margin-top: 100px;margin-right: 10px;}
	.group .down{width: 265px;height: 340px;margin: 20px 0 0 0;}*/
	
	/*projects
	.container-2{width: 85%;margin: 0 7%;}
	.project{background-color: green;display: inline-block;width: 35%;padding: 0 10px;border: 5px solid #000;margin: 0 20px;}*/
	.container-2{margin: 0 auto;}
	.cont-project{margin: 0 10px;}
	.project{width: 90%;display: block;margin: 10px 15px;}	
	.proj-section p {font-size: 2em;}
	.project h3{font-size: 1.75em}

	/*go-top button*/
	.go-top img{display: block;}

	/*contacts*/
	.row-1{width: 80%;float: none;margin: 0 auto;}
	.col-1{width: 80%;}
	p{font-size: 3.5em;}
	.side{padding-top: 0;}
	span{}
	span img{width: 40%;}
	#map {}
	.row-2{width: 100%;float: none;}
	.row-foot{margin-top: 0;font-size: 1em;}
	.row-foot img{width:10%;}

	/*footer*/
	footer{font-size: 2.25em;margin-top: 0px;}
}

/*5" iphone*/
@media only screen and (max-width:480px) and (min-width: 321px){
	body{font-size: 12px;}
	/*nav bar*/
	nav{display: none;}
	.menu{display:block;width: 100%;height: 50px;background-color: rgba(211, 212, 233, 0.46);}
	.mob-nav{display:block;height: 50px;width: 50px;float: right;margin-right: 10px;}
	.menu-nav{width: 100%;height: auto;}
	li:first-child{float: none;}
	li{display: block;list-style: none;text-align: right; font-size: 1.25em;border-top: 1px solid rgb(65, 131, 215);}
	/*jerry's section*/
	.name{margin-top: 100px;font-size: 6em;}
	.btn{font-size: 2em;padding-bottom: 50px;}
	.btn a{font-size: .75em;}
	.what{font-size: 3em;}
	.first{top:80px;padding: 10px 0;width: 90%;}
	/*parallax*/
	h2{padding-top: 100px;font-size: 6em;}
	.parallax{height: 40%;}
	.parallax-1 , .parallax-3{background-repeat: round;background-position: left;}
	/*about-me*/
	.container-1{font-size: 1.075em;margin: 20px;}
	.group{font-size: .85em;width: 100%;display: block;}
	.pic{width: 200px;height: 250px;margin: 5px auto;float: none;}
	.group p{width: 100%;margin: 10px;font-size: 2em;}
	.container-2{margin: 0 auto;}
	.cont-project{margin: 0 10px;}
	.project{width: 90%;display: block;margin: 10px 20px;}	
	.proj-section p {font-size: 1.25em;}
	.project h3{font-size: 1.75em}

	/*go-top button*/
	.go-top img{display: block;}

	/*contacts*/
	.row-1{}
	.col-1{}
	p{font-size: 1.6em;}
	.side{padding-top: 0;}
	span{}
	span img{width: 60%;}
	#map {}
	.row-2{width: 100%;float: none;}
	.row-foot{margin: 0;}

	/*footer*/
	footer{font-size: 2.5em;margin-top: 0px;}
}

/*21" - 23" monitor*/
@media only screen and (max-width:768px) and (min-width: 481px){
	body{font-size: 12px;}
	/*nav bar*/
	nav{display: none;}
	.menu{display:block;width: 100%;height: 50px;background-color: rgba(211, 212, 233, 0.46);}
	.mob-nav{display:block;height: 50px;width: 50px;float: right;margin-right: 10px;}
	.menu-nav{width: 100%;height: auto;}
	li:first-child{float: none;}
	li{display: block;list-style: none;text-align: right;font-size: 1.5em;border-top: 1px solid rgb(65, 131, 215);}
	/*jerry's section*/
	.name{margin-top: 200px;font-size: 9em;}
	.btn{font-size: 3em;padding-bottom: 50px;}
	.btn a{font-size: .75em;}
	.what{font-size: 4em;}
	/*parallax*/
	h2{padding-top: 100px;font-size: 8em;}
	.parallax-1{background-repeat:round;background-position: left;}
	.parallax{height: 50%;}
	/*about-me*/
	.container-1{font-size: 1.075em;margin: 20px;}
	.group{font-size: .85em;width: 100%;display: block;}
	.pic{width: 300px;height: 250px;margin: 5px auto;float: none;}
	.group p{width: 100%;margin: 10px;font-size: 2em;}
	.container-2{display: inline-block;}
	.cont-project{margin: 0 10px;}
	.project{border: 3px solid black;padding: 0 10px;margin:5px 20px;width: 40%;display: inline-block;}	
	.proj-section p {font-size: 1.55em;}
	.project h3{font-size: 1.75em}

	/*go-top button*/
	.go-top img{display: block;}

	/*contacts*/
	p{font-size: 1.6em;}
	.side{padding-top: 0;}
	span img{width: 60%;}
	.row-2{width: 100%;float: none;}
	.row-foot{margin: 0;}

	/*footer*/
	footer{font-size: 2.5em;margin-top: 0px;}
}

/*15" monitor*/
@media only screen and (max-width:1024px) and (min-width:769px) {
	body{font-size: 12px;}

	/*nav bar*/
	ul{font-size: 4em;}
	li{padding: 0 10px;}

	/*jerry's section*/
	.name{font-size: 9.5em;margin-top: 100px;}
	.btn{font-size:2em;padding-bottom: 50px;}
	.what{font-size: 3.75em;}
	.info1{padding-bottom: 0px;}

	/*parallax*/
	h2{padding-top: 250px;font-size: 11em;}
	.parallax-1{background-repeat: round;background-position: left;}

	/*about-me*/
	.container-1{margin: 20px;}
	.group{margin: auto; font-size: 1.25em}
	.group .down{position: relative;top: 35px;width: 100%;left: -150px;}

	/*projects*/
	.container-2{display: inline-block;}
	.cont-project{margin: 0 10px;}
	.project{border: 3px solid black;padding: 0 30px;width: 40%;display: inline-block;}	
	.proj-section p {font-size: 1.4em;}
	.project h3{font-size: 1.75em}
	
	/*contacts*/
	p{font-size: 2em;}
	.side{padding-top: 0;}
	span img{width: 50%;}
	.row-foot{font-size: 0.5em;}

	/*footer*/
	footer{font-size: 3.5em;margin-top: 20px;}
}

/*19" monitor*/
@media only screen and (min-width: 1359) and (max-width: 1440px){
	body{font-size: 14px;}

	/*nav bar*/
	ul{font-size: 5em;}
	li{padding: 0 10px;}

	/*jerry's section*/
	.first{padding: 100px;top: 180px;}
	.name{font-size: 10em;margin-top:0;}
	.btn{font-size:2em;padding-bottom: 50px;}
	.what{font-size: 4.25em;}
	.info1{padding-bottom: 0px;}

	/*parallax*/
	h2{padding-top: 200px;font-size: 16em;}
	

	/*about-me*/
	.container-1{margin: 20px;}
	.group{margin: auto; font-size: 1.75em}
	.pic{margin: 40px 10px;width: 400px;height: 500px;}

	/*projects*/
	.proj-section p {font-size: 1.5em;}
	.project h3{font-size: 1.75em}
	
	/*contacts*/
	p{font-size: 2.5em;}
	.side{padding-top: 0;}
	span img{width: 40%;}
	.row-foot{font-size: 0.70em; margin: 70px auto 0 auto;}
	.row-foot img{width:15%;}

	/*footer*/
	footer{font-size: 3.5em;margin-top: 20px;}
}

/*20" monitor*/
@media only screen and (max-width:1680px) and (min-width:1367px){
	body{font-size: 14px;}

	/*nav bar*/
	ul{font-size: 4.5em;}
	li{padding: 0 10px;}

	/*jerry's section*/
	.first{padding: 50px;top: 180px;}
	.name{font-size: 10em;margin-top:0;}
	.btn{font-size:2em;padding-bottom: 50px;}
	.what{font-size: 4.25em;}
	.info1{padding-bottom: 0px;}

	/*parallax*/
	h2{padding-top: 200px;font-size: 15em;}
	

	/*about-me*/
	.container-1{margin: 20px;}
	.group{margin: auto; font-size: 1.75em}
	.pic{margin: 40px 10px;width: 400px;height: 550px;}

	/*projects*/
	.proj-section p {font-size: 1.5em;}
	.project h3{font-size: 1.75em}
	
	/*contacts*/
	p{font-size: 2.5em;}
	.side{padding-top: 0;}
	span img{width: 40%;}
	.row-foot{font-size: 0.60em; margin: 70px auto 0 auto;}
	.row-foot img{width:15%;}

	/*footer*/
	footer{font-size: 3.5em;margin-top: 20px;}
}

/*21" - 23" monitor*/ 
@media only screen and (max-width:1920px) and (min-width: 1679){
	body{font-size: 16px;}

	/*nav bar*/
	ul{font-size: 5em;}
	li{padding: 0 10px;}

	/*jerry's section*/
	.name{font-size: 10em;}
	.btn{font-size:2em;padding-bottom: 50px;}
	.what{font-size: 4.25em;}
	.info1{padding-bottom: 0px;}
	.first{top: 250px;padding: 100px 0;}

	/*parallax*/
	h2{padding-top: 200px;font-size: 17em;}
	
	/*about-me*/
	.container-1{margin: 20px;}
	.group{margin: auto; font-size: 1.5em}
	.group p{font-size: 1.75em;margin-left: 10%;}
	.pic{margin-left: 40px;width: 500px;height: 550px;}

	/*projects*/
	.proj-section p {font-size: 1.5em;}
	.project h3{font-size: 1.75em}
	
	/*contacts*/
	p{font-size: 2.5em;}
	.side{padding-top: 0;}
	span img{width: 50%;}
	.row-foot{font-size: 0.5em;margin: 80px auto 0 auto;}
	.row-foot img{width:15%;}
	#map{height: 600px;}

	/*footer*/
	footer{font-size:5em;margin-top: 20px;}
}